.TabHead{
 position: absolute;
 display: block;
 width: 100%;
 background: WHITE;
 height: 100%;
}



.headera {
    display: flex;
    justify-content: space-between;
}

.tabs {
    display: flex;
    justify-content: space-between;
    /* width: 40%; */
    margin-top: 10px;
}

.logo {
    height: 35px;
    width: 50px;
}

.selectedTab {
    color: white;
    border: solid;
    height: 0;
    border-color: transparent transparent #4f5576 transparent;
    border-width: 0px 0px 30px 20px;
    border-radius: 0px 15px 0px 2px;
}

.normalTab {
    cursor: pointer;
    padding: 0 25px;
}