.MainPage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    background-repeat: no-repeat;
    border-top: 2px solid;
    border-color:#4f5576;
   
    background-image: url(../123.jpg);  
    background-size: cover;
      

}
.rightSide{
    display: flex;
    flex-direction: column;
}
.leftSide{
    display: flex;
    flex-direction: column;





}

.MoreInfo{

}
  